<nav class="navbar navbar-custom navbar-fixed-top" scroll role="navigation" ng-controller="NavbarCtrl as controller">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<button type="button" class="navbar-toggle gifts-cart" ng-class="{'no-gifts': gifts==0, 'highlight-gifts': gifts>0}" href ng-click="giftsCart()">
				<i class="fa fa-gift fa-lg"></i> <span>{{ gifts }}</span>
			</button>		
			<a scroll-anchor class="navbar-brand" href="#page-top">
				<span class="light">Stefano</span> e <span class="light">Marisol</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li>
					<a scroll-anchor href="#about">Noi due</a>
				</li>
				<li>
					<a scroll-anchor href="#trip">Il nostro viaggio</a>
				</li>
				<li>
					<a scroll-anchor href="#places">Cerimonia e oltre</a>
				</li>
				<li class="hidden-xs gifts-cart">
					<a ng-class="{'no-gifts': gifts==0, 'highlight-gifts': gifts>0}" href ng-click="giftsCart()">
						<i class="fa fa-gift fa-lg"></i> Il mio regalo (<span >{{ gifts }}</span>)
					</a>
				</li>				
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>