<nav class="navbar navbar-custom navbar-fixed-top" scroll role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-init="navCollapsed=true" ng-click="navCollapsed=!navCollapsed" data-toggle="collapse" data-target=".navbar-main-collapse">
				<i class="fa fa-bars"></i>
			</button>
			<a scroll-anchor class="navbar-brand" href="#page-top">
				<span class="light">Marisol</span> + <span class="light">Stefano</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a href="#page-top"></a>
				</li>
				<li>
					<a scroll-anchor href="#about">Noi due</a>
				</li>
				<li>
					<a scroll-anchor href="#trip">Il viaggio</a>
				</li>
				<li>
					<a scroll-anchor href="#contact">Contatti</a>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>