<div class="modal-header">
	<span class="cart-title"><i class="fa fa-gift"></i> Il mio regalo</span>
	<button type="button" class="close" ng-click="cancel()">&times;</button>
</div>
<div class="modal-body row">
	<div class="col-xs-12 col-xs-offset-0 col-md-10 col-md-offset-1 gift-tickets" >
		<div class="col-xs-12 tickets-cnt no-border" ng-show="ticketsCount==0">
			<span class="no-tickets-disclaimer">Non hai aggiunto ancora nessuna quota al tuo regalo! Scorri le tappe e seleziona le quote che vuoi regalare.</span>
		</div>
		<div class="col-xs-12" ng-show="ticketsCount>0">
			<span class="tickets-disclaimer">Queste sono le quote che hai aggiunto al tuo regalo per un totale di <strong>{{ticketsCount * 25}} €</strong>, puoi modificare le quantità selezionate tramite gli appositi pulsanti.</span>
		</div>
		<div  class="col-xs-12 tickets-cnt" ng-show="ticketsCount>0">
			<div class="col-xs-12 gift-item" ng-repeat="(id, gift) in gifts" ng-show="gift.booked>0">
				<div class="col-xs-3" ng-init="snapshots=[[ ],
					[{ src: '../assets/images/stages/1_01.jpg' }],
					[{ src: '../assets/images/stages/2_01.jpg' }],
					[{ src: '../assets/images/stages/3_01.jpg' }],
					[{ src: '../assets/images/stages/4_01.jpg' }],
					[{ src: '../assets/images/stages/5_01.jpg' }],
					[{ src: '../assets/images/stages/6_01.jpg' }],
					[{ src: '../assets/images/stages/7_01.jpg' }],
					[{ src: '../assets/images/stages/8_01.jpg' }],
					[{ src: '../assets/images/stages/9_01.jpg' }],
					[{ src: '../assets/images/stages/10_01.jpg'}],
					[{ src: '../assets/images/stages/11_01.jpg' }],
					[{ src: '../assets/images/stages/12_01.jpg' }],
					[{ src: '../assets/images/stages/13_01.jpg' }],
					[{ src: '../assets/images/stages/14_01.jpg' }]
				]">
					<img class="img-rounded tickets-ss" ng-src="{{ snapshots[id][0].src }}" />
				</div>
				<div class="col-xs-5">
					<h2 class="stage-title">{{gift.stage.title}}</h2>
				</div>
				<div class="col-xs-4 btn-gift-container">
					<a class="btn btn-default" href ng-show="true" ng-click="removeFromGifts(id)"><span class="glyphicon glyphicon-minus-sign animated" aria-hidden="true"></span></a>
					<span class="stage-tickets">{{gift.booked}}</span>
					<a class="btn btn-default" href ng-show="true" ng-click="addToGifts(id)"><span class="glyphicon glyphicon-plus-sign animated" aria-hidden="true"></span></a>
					<span class="stage-tickets-price pull-right">{{gift.booked * 25}} €</span>
				</div>
			</div>
		</div>
		<div  class="col-xs-12" ng-show="ticketsCount>0">
			<form  name="form" class="gift-form">
				<div class="form-group">
					<label for="persons">Da parte di chi è il regalo?</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-user"></i></div>
						<input type="text" class="form-control" id="persons" ng-model="data.persons" required placeholder="Inserisci il o i nomi">
					</div>
				</div>
				<div class="form-group">
					<label for="email">Inserisci un messaggio da recapitare a Marisol e Stefano nella notifica del tuo regalo</label>
					<textarea class="form-control" rows="3"  ng-model="data.message" required></textarea>
				</div>				
				<div class="form-group">
					<label for="email">Indirizzo email a cui inviare le coordinate per effettuare il regalo</label>
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
						<input type="email" class="form-control" id="email" ng-model="data.email" required placeholder="Inserisci la tua email">
					</div>
				</div>
				<div class="gifts-buttons">
					<button class="btn btn-default"  type="submit" ng-disabled="form.$invalid" ng-click="confirm(data)">Conferma il regalo</button>
					<button class="btn btn-default" ng-click="cancel()">Continua ad esplorare le tappe</button>
					<button class="btn btn-default" type="reset" ng-click="reset()">Annulla le quote selezionate</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div> -->