#trip.content-section {
	padding-top: 110px;
	@media(min-width: @screen-sm-min) {
		padding-top: 130px;
	}

	height: 100%;
	background: url(../assets/images/trip-bg.jpg) no-repeat center center scroll;
	background-color: @dark;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;	
}

.trip-section {
	height: 500px;
	padding: 20px 0;
	color: @light;

	@media(min-width: @screen-sm-min) {
		height: 500px;
		padding: 50px 0;
	}
}

.full-height {
	height: 100%;
}

.stages-list {
	max-height: 300px;
	overflow-y: scroll;
	text-align: left;
	
	.list-group-item {
		background-color: fade(@light, 60%);
		&.active {
			background-color: fade(@primary, 60%);
		}
	}

	i {
		color: @primary;
	}
	a {
		cursor: pointer;
		color: @dark;
		padding-left: 15px;
	}
	.active {
		a {
			cursor: default;
			color: @light;
		}
		i {
			color: @dark;
		}
	}

	@media(min-width: @screen-sm-min) {
		max-height: 400px;
		font-size: 1.3em;
	}
}

.stage-content {
	border: 1px solid fade(@light, 60%);
	border-radius: 8px;
	box-shadow: 0px 0px 90px fade(@light, 20%);
	background-color: @dark;
	
	height: 100%;
	@media(min-width: @screen-sm-min) {
		height: 100%;
	}
}

.stage-intro {
	padding-top: 20px;
	@media(min-width: @screen-sm-min) {
		padding-top: 0px;
	}

	.title {
		font-size: 22px;
		margin-bottom: 15px;
	}
	p {
		text-align: justify;
		font-size: 13px;
		margin: 0px 0px 15px;
	}
	.btn-gift-container {
		padding-bottom: 15px;
	}

	@media(min-width: @screen-sm-min) {
		padding-top: 30px;
		.title {
			font-size: 30px;
			margin-bottom: 35px;
		}
		p {
			font-size: 18px;
		}
	}
}

.stage-block {
	padding: 0px;
	header {
		background-repeat: no-repeat;
		background-position-x: 83%;
		background-position-y: center;
		background-attachment: scroll;
		background-size: 100% 60px;

		border: 1px solid fade(@light, 0%);
		border-radius: 8px;
		box-shadow: 0px 0px 90px fade(@light, 30%);
		height: 40px;
		text-shadow: 1px 1px 5px @dark;
		@media(min-width: @screen-sm-min) {
			height: 60px;
			background-position-x: center;
			background-position-y: center;			
		}

		h1 {
			text-align: left;
			position: relative;
			top: 10px;
			left: 10px;
			font-size: 2.5em;
			z-index: 2;

			@media(min-width: @screen-sm-min) {
				top: 14px;
				left: 30px;
				font-size: 48px;
			}
		}
		.stage-banner-separator {
			position: relative;
			top: -33px;
			width: 100%;
			height: 7px;
			background-color: fade(@dark, 80%);
			box-shadow: 0px 0px 90px fade(@dark, 30%);

			@media(min-width: @screen-sm-min) {
				top: -35px;
			}
		}

		.btn-container {
			position: absolute;
			top: 10px;
			right: 10px;
			z-index: 3;

			.btn {
				font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
				text-transform: none;
				font-size: 1.3em;
			}
			.btn-default {
				color: @light;
				border-color: transparent;
				text-shadow: 1px 1px 5px @dark;

				&:hover {
					color: @primary;
					border-color: transparent;
					background-color: transparent;
				}

				-webkit-transition: background .3s ease-in-out;
				-moz-transition: background .3s ease-in-out;
				transition: background .3s ease-in-out;

				span.glyphicon.animated {
					-webkit-transition-property: -webkit-transform;
					-webkit-transition-duration: 1s;
					-moz-transition-property: -moz-transform;
					-moz-transition-duration: 1s;
					-webkit-animation-name: pulse;
					-moz-animation-name: pulse;
					-webkit-animation-duration: 1.5s;
					-moz-animation-duration: 1.5s;
					-webkit-animation-iteration-count: infinite;
					-moz-animation-iteration-count: infinite;
					-webkit-animation-timing-function: linear;
					-moz-animation-timing-function: linear;
				}
				.pull-right {
					padding-left: 0px;
					@media(min-width: @screen-sm-min) {
						padding-left: 10px;
					}
				}
				.pull-left {
					padding-right: 0px;
					@media(min-width: @screen-sm-min) {
						padding-right: 10px;
					}
				}
			}			
		}
	}

	.stage-info {
		padding-top: 20px;

		height: 100%;
		/*border-bottom: 1px solid fade(@light, 80%);*/
		@media(min-width: @screen-sm-min) {
			height: 280px;
		}

		section {			
			.stage-info-text {
				text-align: justify;
				padding: 0px 20px;

				p {
					font-size: 14px;
					margin: 0px 0px 10px;
					@media(min-width: @screen-sm-min) {
						font-size: 16px;
						margin: 0px 0px 25px;
					}
				}
			
			}
			.stage-tickets {
				text-align: right;
			}
		}

		.main-content {
			padding-left: 0px;
			padding-right: 0px;
		}
		.ss-content {
			padding-top: 20px;
		}

		.snapshots {
			div {
				padding-bottom: 30px;
			}

			.img-thumbnail {
				padding: 0px;
			}
			
		}
	}
}

.stages-gifts {
	position: absolute;
	bottom: 110px;

	@media(min-width: @screen-sm-min) {
		bottom: 120px;
	}

	.booked-gifts {
		text-align: left;
		padding-left: 6px;
		font-size: 16px;

		.persons {
			color: @primary;
			font-weight: bold;
		}
	}

	.toolbar {
		text-align: left;
		padding-left: 6px;
	}
}

.stages-navigation {
	position: absolute;
	bottom: 0px;
	padding-bottom: 15px;
	font-size: 1.1em;

	.btn {
		font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
		text-transform: none;
	}
	.btn-default {
		color: @light;
		border-color: transparent;

		-webkit-transition: background .3s ease-in-out;
		-moz-transition: background .3s ease-in-out;
		transition: background .3s ease-in-out;

		span.glyphicon.animated {
			-webkit-transition-property: -webkit-transform;
			-webkit-transition-duration: 1s;
			-moz-transition-property: -moz-transform;
			-moz-transition-duration: 1s;
			-webkit-animation-name: pulse;
			-moz-animation-name: pulse;
			-webkit-animation-duration: 1.5s;
			-moz-animation-duration: 1.5s;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
			-moz-animation-timing-function: linear;
		}
		.pull-right {
			padding-left: 0px;
			@media(min-width: @screen-sm-min) {
				padding-left: 10px;
			}
		}
		.pull-left {
			padding-right: 0px;
			@media(min-width: @screen-sm-min) {
				padding-right: 10px;
			}
		}
	}

	@media(min-width: @screen-sm-min) {
		bottom: 0px;
		padding-bottom: 10px;
		font-size: 1.2em;
	}
}

.btn-gift-container {
	.btn-gift {
		padding-left: 0px;
		padding-right: 0px;
		@media(min-width: @screen-sm-min) {
			padding-left: 15px;
			padding-right: 15px;
		}

		color: @primary;
	}

	.btn {
		padding: 6px 0px;
		font-size: 0.8em;
		@media(min-width: @screen-sm-min) {
			padding: 6px 12px;
			font-size: 1em;
		}
	}
	.btn-default {
		color: @light;
		border-color: transparent;
		text-shadow: 1px 1px 5px @dark;

		-webkit-transition: background .3s ease-in-out;
		-moz-transition: background .3s ease-in-out;
		transition: background .3s ease-in-out;

		&:hover,
		&:focus,
		&:active {
			color: @primary;
			border-color: transparent;
			background-color: transparent;
		}
	}
}

/* - modal backdrop positioning fix (http://stackoverflow.com/questions/26926798/angular-ui-modal-directive-backdrop-missing) - */
.modal-backdrop {
	position: fixed;
	bottom: 0;
}

/* ----------------------------------------------------- */
.stage-banner-1 { background-image: url(../assets/images/banners/stage-banner-1.jpg); }
.stage-banner-2 { background-image: url(../assets/images/banners/banner-peru.jpg); }
.stage-banner-3 { background-image: url(../assets/images/banners/banner-peru.jpg); }
.stage-banner-4 { background-image: url(../assets/images/banners/banner-peru.jpg); }
.stage-banner-5 { background-image: url(../assets/images/banners/banner-peru.jpg); }
.stage-banner-6 { background-image: url(../assets/images/banners/banner-peru.jpg); }
.stage-banner-7 { background-image: url(../assets/images/banners/banner-peru.jpg); }
.stage-banner-8 { background-image: url(../assets/images/banners/banner-peru.jpg); }
.stage-banner-9 { background-image: url(../assets/images/banners/banner-bolivia.jpg); }
.stage-banner-10 { background-image: url(../assets/images/banners/banner-bolivia.jpg); }
.stage-banner-11 { background-image: url(../assets/images/banners/banner-bolivia.jpg); }
.stage-banner-12 { background-image: url(../assets/images/banners/banner-peru.jpg); }
.stage-banner-13 { background-image: url(../assets/images/banners/banner-peru.jpg); }